*{
    text-align: center;
    font-family: cursive;
    background-color: cyan;
}
.title_class{
    font-size: 4rem;
    text-decoration: underline;
    border: 5px solid black;
    padding: 5px;
}
.desc{
    font-size: 2rem;
}